body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

a {
  text-decoration: none;
}

.header {
  width: 100%; /* Use 100% for full width responsiveness */
  height: 60px;
  left: 0;
  top: 0;
  position: fixed;
  background: #a5c5fc;
  z-index: 1000; /* Ensures the header is on top of other components */
}

.navbar {
  left: 800px;
  top: 20px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
}

.nav-link {
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.container {
  width: 1440px;
  height: 900px;
  position: relative;
  margin-top: 80px; /* Ensure content is not hidden under the fixed header */
}

.image {
  width: 590px;
  height: 547px;
  position: absolute;
  left: 670px;
  top: 100px;
  background: linear-gradient(0deg, #f7f7f7 0%, #f7f7f7 100%);
  border-radius: 50%;
}

.content {
  height: 521px;
  width: 520px;
  position: absolute;
  left: 80px;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.title {
  align-self: stretch;
  color: black;
  font-size: 64px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
  padding-top: 150px;
}
.projects-container {
  width: 1277px;
  left: 81px;
  top: 1100px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}

.project {
  width: 621px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.project-image {
  width: 600px;
  height: 341px;
  background: linear-gradient(0deg, #f7f7f7 0%, #f7f7f7 100%);
  border-radius: 8px;
}

.project-description {
  align-self: stretch;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.project-title {
  align-self: stretch;
  color: black;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.project-subtitle {
  align-self: stretch;
  color: #828282;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.title2 {
  align-self: stretch;
  color: black;
  font-size: 64px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
  padding-bottom: 70px;
}
.images {
  width: 720px;
  height: 657px;
  top: 2000px;
  left: 600px;
  position: absolute;
  background: linear-gradient(0deg, #f7f7f7 0%, #f7f7f7 100%);
  border-radius: 8px;
}

.form-container {
  width: 400px;
  left: 100px;
  top: 2000px;
  position: absolute;
}

.message {
  width: 626px;
  height: 194px;
}

.label {
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.input {
  padding: 12px 16px;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: 1px #e0e0e0 solid;
  gap: 8px;
}

.input-text {
  color: #828282;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.submit {
  padding: 10px 32px;
  font: 28px;
  color: #e0e0e0;
  background: black;
  margin-top: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: auto;
}

.submit-text {
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.header-title2 {
  align-self: stretch;
  color: black;
  font-size: 64px;
  font-weight: 700;
  word-wrap: break-word;
}

.header-subtitle2 {
  padding-bottom: 50px;
  align-self: stretch;
  width: 500px;
  color: #828282;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
}

.input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 80%;
  text-align: center;
  font-size: 15px;
}
.box {
  width: 80%;
  height: 50%;
}
.cont {
  position: absolute;
  top: 900px;
}
.conts {
  position: absolute;
  left: 90px;
  top: 2400px;
}
.portfolio-intro {
  height: 173px;
  left: 81px;
  top: 800px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.portfolio-title {
  align-self: stretch;
  color: black;
  font-size: 64px;
  font-weight: 700;
}

.portfolio-subtitle {
  align-self: stretch;
  color: #828282;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.dropdown-content img {
  display: inline-block;
  margin-right: 10px;
}
.dropdown-content {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  white-space: nowrap;
}

.certificate-item {
  position: relative;
  margin-right: 20px;
}

.certificate-item img {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.certificate-item img:hover {
  transform: scale(1.1);
}

.certificate-tooltip {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  white-space: nowrap;
  display: none;
}

.certificate-item:hover .certificate-tooltip {
  display: block;
}
.dropdown-content {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  white-space: nowrap;
}

.certificate-item {
  position: relative;
  margin-right: 20px;
  display: inline-block;
}

.certificate-item img {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.certificate-item:hover img {
  transform: scale(1.1);
}

.certificate-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.certificate-item:hover .certificate-text {
  opacity: 1;
}

.certificate-text p {
  margin: 0;
}

.certificate-link-text {
  font-size: 12px;
}
.certificate-item {
  position: relative;
  margin-right: 20px;
  display: inline-block;
  width: 400px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
}

.certificate-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.certificate-item:hover img {
  transform: scale(1.1);
}

.certificate-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.certificate-item:hover .certificate-text {
  opacity: 1;
}

.certificate-text p {
  margin: 0;
}

.certificate-link-text {
  font-size: 12px;
}
.title3 {
  padding-bottom: 40px;
}
.body {
  align-self: stretch;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  word-wrap: break-word;
  padding-top: 30px;
}
.subheading {
  color: #828282;
  font-size: 24px;
  font-weight: 200;
  line-height: 36px;
  word-wrap: break-word;
}
html {
  scroll-behavior: smooth;
}
.contact-info {
  padding-top: 50px;
}
