body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}

.container {
  width: 1440px;
  height: 1285px;
  position: relative;
  background: white;
}

.image {
  width: 590px;
  height: 547px;
  position: absolute;
  left: 670px;
  top: 250px;
  background: linear-gradient(0deg, #f7f7f7 0%, #f7f7f7 100%);
  border-radius: 10px;
}

.content {
  height: 521px;
  width: 520px;
  position: absolute;
  left: 80px;
  top: 244px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.title {
  align-self: stretch;
  color: black;
  font-size: 64px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
}

.subtitle {
  align-self: stretch;
  color: #828282;
  font-size: 24px;
  font-family: Inter;
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
}

.body {
  align-self: stretch;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  word-wrap: break-word;
}

.footer {
  width: 1440px;
  height: 264px;
  position: absolute;
  background: white;
  top: 1021px;
}

.column {
  height: 168px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
}

.footer-item {
  align-self: stretch;
  color: #454545;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.header {
  width: 1500px;
  height: 80px;
  left: 0;
  top: 0;
  position: fixed;
  background: white;
}

.header-nav {
  left: 900px;
  top: 30px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
}

.header-nav-item {
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
