body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.main-container {
  width: 1440px;
  height: 1767px;
  position: relative;
  background: white;
}

.projects-container {
  width: 1277px;
  left: 81px;
  top: 970px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}

.project {
  width: 621px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.project-image {
  width: 621px;
  height: 341px;
  background: linear-gradient(0deg, #f7f7f7 0%, #f7f7f7 100%);
  border-radius: 8px;
}

.project-description {
  align-self: stretch;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.project-title {
  align-self: stretch;
  color: black;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.project-subtitle {
  align-self: stretch;
  color: #828282;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.portfolio-intro {
  height: 173px;
  left: 81px;
  top: 800px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.portfolio-title {
  align-self: stretch;
  color: black;
  font-size: 64px;
  font-weight: 700;
}

.portfolio-subtitle {
  align-self: stretch;
  color: #828282;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.header {
  width: 1500px;
  height: 80px;
  left: 0;
  top: 0;
  position: fixed;
  background: white;
}

.header-nav {
  left: 900px;
  top: 30px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
}

.header-nav-item {
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.header-title {
  left: 80px;
  top: 30px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.footer {
  width: 1440px;
  height: 264px;
  position: absolute;
  background: white;
}

.footer-section {
  height: 168px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
}

.footer-section:nth-child(1) {
  left: 736px;
  top: 48px;
}

.footer-section:nth-child(2) {
  left: 955px;
  top: 48px;
}

.footer-section:nth-child(3) {
  left: 1173px;
  top: 48px;
}

.footer-topic {
  align-self: stretch;
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.footer-page {
  align-self: stretch;
  color: #454545;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.footer-title {
  left: 80px;
  top: 52px;
  position: absolute;
  color: black;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.footer-social-icons {
  left: 80px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.footer-social-icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-icon img {
  width: 100%;
  height: auto;
}

.footer-divider {
  width: 1280px;
  height: 0;
  left: 80px;
  top: 1px;
  position: absolute;
  border: 1px solid #e6e6e6;
}

.content {
  height: 521px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.heading {
  color: black;
  font-size: 64px;
  font-weight: 700;
  word-wrap: break-word;
}

.subheading {
  color: #828282;
  font-size: 24px;
  font-weight: 200;
  line-height: 36px;
  word-wrap: break-word;
}

.body-text {
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  word-wrap: break-word;
}

/* CSS for dropdown */
.dropdown {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.dropdown-toggle .material-icons-outlined {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  font-size: 1.2em;
}

.dropdown-toggle:hover .material-icons-outlined {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  white-space: nowrap;
  overflow-x: auto;
}

.dropdown.active .dropdown-content {
  display: block;
}

.dropdown-content img {
  display: inline-block;
  margin: 0 10px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}

.container {
  width: 1440px;
  height: 1285px;
  position: relative;
  background: white;
}

.image {
  width: 590px;
  height: 547px;
  position: absolute;
  left: 670px;
  top: 100px;
  background: linear-gradient(0deg, #f7f7f7 0%, #f7f7f7 100%);
  border-radius: 10px;
}

.content {
  height: 521px;
  width: 520px;
  position: absolute;
  left: 80px;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.title {
  align-self: stretch;
  color: black;
  font-size: 64px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
}

.subtitle {
  align-self: stretch;
  color: #828282;
  font-size: 24px;
  font-family: Inter;
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
}

.body {
  align-self: stretch;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  word-wrap: break-word;
}

.footer {
  width: 1440px;
  height: 264px;
  position: absolute;
  background: white;
  top: 1021px;
}

.column {
  height: 168px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
}

.footer-item {
  align-self: stretch;
  color: #454545;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.header {
  width: 1500px;
  height: 80px;
  left: 0;
  top: 0;
  position: fixed;
  background: white;
}

.header-nav {
  left: 900px;
  top: 30px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
}

.header-nav-item {
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
body {
  margin: 0;
  font-family: Inter, sans-serif;
}
a {
  text-decoration: none;
}

.images {
  width: 620px;
  height: 657px;
  left: 700px;
  position: absolute;
  background: linear-gradient(0deg, #f7f7f7 0%, #f7f7f7 100%);
  border-radius: 8px;
}

.form-container {
  width: 626px;
  height: 488px;
  left: 80px;
  top: 300px;
  position: absolute;
}

.message {
  width: 626px;
  height: 194px;
}

.label {
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.input {
  padding: 12px 16px;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: 1px #e0e0e0 solid;
  gap: 8px;
}

.input-text {
  color: #828282;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.submit {
  height: 62px;
  width: 25px;
  padding: 16px 32px;
  font: 28px;
  color: #e0e0e0;
  background: black;
  margin-top: 20px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: auto;
}

.submit-text {
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.header-title2 {
  position: absolute;
  top: 1500px;
  left: 30px;
  align-self: stretch;
  color: black;
  font-size: 64px;
  font-weight: 700;
  word-wrap: break-word;
}

.header-subtitle2 {
  position: absolute;
  top: 1600px;
  align-self: stretch;
  width: 550px;
  color: #828282;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
}

.footer {
  width: 1440px;
  height: 264px;
  left: 0px;
  top: 1021px;
  position: absolute;
  background: white;
}

.footer-content {
  height: 168px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
  display: inline-flex;
}

.footer-content:nth-child(2) {
  left: 736px;
  top: 48px;
}

.footer-content:nth-child(3) {
  left: 955px;
  top: 48px;
}

.footer-content:nth-child(4) {
  left: 1173px;
  top: 48px;
}

.footer-title {
  align-self: stretch;
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.footer-item {
  align-self: stretch;
  color: #454545;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.footer-site-name {
  left: 80px;
  top: 52px;
  position: absolute;
  color: black;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
}

.footer-social-icons {
  left: 80px;
  top: 176px;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: inline-flex;
}

.social-icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.social-icon img {
  width: 100%;
  height: auto;
}

.footer-divider {
  width: 1280px;
  height: 0px;
  left: 80px;
  top: 1px;
  position: absolute;
  border: 1px #e6e6e6 solid;
}

.navbar {
  width: 1280px;
  height: 40px;
  left: 900px;
  top: 40px;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  gap: 643px;
  display: flex;
}

.navbar-links {
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  display: inline-flex;
}

.navbar-link {
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.navbar-site-name {
  color: black;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
}
.input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 80%;
  text-align: center;
  font-size: 15px;
}
.box {
  width: 80%;
  height: 50%;
}
.cont {
  position: absolute;
  top: 900px;
}
